@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    padding: 5px 10px;
}

.content{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.perCapita {
    flex: 1;
}
.content > div:first-child {
    width: 300px !important;
}